{% extends 'base/base.html' %}

{% block title %}Produits{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Nos Produits</h1>
    <div class="row">
        {% for product in produits %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 py-3">
            <div class="card bg-light my-3 p-3 rounded" style="height: 100%;">
                <a href="{% url 'product_detail' product.id %}">
                    {% if product.image %}
<img src="{{product.image.url}}" class="card-img" alt="{{product.name}}">
{% else %}
<img src="https://via.placeholder.com/300x200" class="card-img" alt="{{product.name}}">
{% endif %}
                </a>
                <div class="card-body">
                    <div class="card-title" style="height: 60px;">
                        <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
                            <strong>{{product.name}}</strong>
                        </a>
                    </div>
                    <div class="card-text">
                        <h3>{{product.price}} MAD</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}